/* Holds both text input and dropdown */
.autocomplete-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px; 
}

/* Holds items of the dropdown */
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #000;
}

/* Particular item */
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

/* Hover over item */
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}