<h1>Movie {{ round }}/10</h1>

<div class="poster-wrapper">
  {% if movie.poster_url %}
  <img
    src="{{ movie.poster_url }}"
    width="300"
    height="450"
    alt="movie poster"
  />
  {% else %}
  <div class="poster-error">An error occured: no poster available!</div>
  {% endif %}
</div>

<p>{{ movie.review_5 }}</p>

{% if attempt >= 2 %}
<p>{{ movie.review_3 }}</p>
{% endif %} 
{% if attempt >= 3 %}
<p>{{ movie.review_1 }}</p>
{% endif %}

<hr>

<p style="font-size: 1.2em; font-weight: bold; color: #ff4757;">
  Time remaining: <span id="timer-display">{{ time_remaining }}</span>s
</p>
<form method="post" id="guess-form">
  {% csrf_token %}
  <input type="text" name="guess" placeholder="Your guess..." autofocus />
  
  <input type="hidden" name="time_remaining" id="time-remaining-input" value="{{ time_remaining }}" />
  
  <button type="submit">Guess</button>
</form>

<p>Attempt: {{ attempt }}/3</p>
<p>Score: {{ score }}</p>

<script>
  let timeLeft = parseInt("{{ time_remaining }}", 10);; 
  
  const timerDisplay = document.getElementById('timer-display');
  const timeInput = document.getElementById('time-remaining-input');
  const form = document.getElementById('guess-form');

  const countdown = setInterval(function() {
    timeLeft--;
    
    timerDisplay.textContent = timeLeft;
    
    timeInput.value = timeLeft;

    if (timeLeft <= 0) {
      clearInterval(countdown);
      
      form.submit(); 
    }
  }, 1000); // 1000 milisekund = 1 sekunda
</script>